/target/

#Local Dev ATP Config with Credentials
dev_atp_config.properties

#Local OCI Credentials for Terraform
*.ps1
*.tfvars

#  Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*